@import "tailwindcss";
html {
  font-size: 14px; 
}

@media (max-width: 768px) {
  html {
    font-size: 12px; 
  }
}
@theme {
  /* Custom AeroSoc Colors */
  --color-background: #0a0a0a;
  --color-surface: #171717;
  --color-accent: #48E4FF;
  
  /* Custom Typography */
  --font-sans: "Inter", sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

body {
  @apply bg-background text-white;
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.stroke-text {
  -webkit-text-stroke: 2px rgba(247, 243, 243, 0.1);
  color: transparent;
}